.phoneBezel{
  display:block;
  pointer-events: none;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:466px;
  height:900px;
}

@media only screen and (max-height: 840px) {
  .main{
    transform: scale(0.9);
  }
}

@media only screen and (max-height: 844px) {
  .phoneBezel{
    display:none;
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}

.container{
  background-color:white;
  display:block;
  width:390px;
  height:844px;
  margin:0;
  padding:0;
  font-family: var(--inter-font) !important;
}

.header {
  display: flex;
  align-items: flex-end;
  width:100%;
  height: 100px;
  /* border: 1px solid red; */
}

.timerToast{
  font-size: 24px;
  font-weight:500;
  text-align: center;
  width:100%;
  color: #B8B8B8;
}

.timerTime{
  display:flex;
  width: 390px;
  height: 600px;
  background-image: url("/timerbackground.png");
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.timerRemaining{
  display:block;
  font-size: 62px;
  color: white;
  font-weight: 500;
}

.timerOptions{
  height: 144px;
  display:grid;
  padding: 15px 20px 0 20px;
  grid-template-rows: 1fr 2.5fr;
  grid-template-areas: 
    '📝 📝'
    '⏸️ 🛑';

}

.timerCurrent{
  grid-area: 📝;
  text-align: center;
  font-size: 18px;
  font-weight:500;
  text-align: center;
  width:100%;
  color: #B8B8B8;
  height:30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.timerPause{
  grid-area: ⏸️;
  height: 50px;
  width: 250px;
  background-color: #F8F8F8;
  color: #B8B8B8;
  display:flex;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}

.timerContinue{
  grid-area: ⏸️;
  height: 50px;
  width: 250px;
  background-color: #d3ebff;
  color:black;
  display:flex;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}

.timerEnd{
  grid-area: 🛑;
  height: 50px;
  width: 80px;
  background-color: #FCECEB;
  color: #B8B8B8;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin-left: 20px;
}

.timerText{
  font-size: 21px;
  font-weight:500;
  display: block;
  margin-bottom: 1px;
  color: inherit;
}

.confirm{
  position:absolute;
  width: 350px;
  height:180px;
  top:65%;
  left:50%;
  border-radius: 20px;
  padding: 20px;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 1px 1px 20px #00000021;
}

.confirmDone{
  position:absolute;
  width: 350px;
  height:240px;
  top:65%;
  left:50%;
  border-radius: 20px;
  padding: 20px;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 1px 1px 20px #00000021;
}

.confirmText{
  font-size: 24px;
  font-weight:500;
  display: block;
  width:80%;
  margin: 10px auto 0 auto;
  text-align: center;
}

.confirmButton{
  height: 50px;
  width: 47%;
  margin:4px;
  margin-top:23px;
  background-color: #d3ebff;
  border-radius: 12px;
  border:none;
  font-size: 20px;
  font-weight:500;
  margin-bottom: 1px;
  font-family: var(--inter-font) !important;
}

.confirmButtonExit{
  height: 50px;
  width: 97%;
  margin:4px;
  margin-top: 12px;
  background-color: #d3ebff;
  border-radius: 12px;
  border:none;
  font-size: 20px;
  font-weight:500;
  margin-bottom: 1px;
  font-family: var(--inter-font) !important;
}